html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.girafa {
  width: 550px;
  height: 560px;
  background-image: url("https://topu.ro/glygneeg/2023/05/pexels-pixabay-39504-850x560.jpg");
  border: 10px dotted red;
  padding: 20px;
  background-clip: content-box;
  background-size: contain;
  background-repeat: no-repeat;
}
